body{
	background-image: url(leaf.jpg);
	background-size: cover;
	cursor: pointer;
}


 p{
	color: #6e1360;
	text-align: center;
	border: 4px solid rgba(255,176,170,0.5)
}

p{
	font-size:150%;
	font-weight:bold;
	font-style: italic;

	line-height:30px;
	
}
img{
	float:left;
}
footer{
	clear:both;
	text-align:center;
}
li{
	list-style: none;
	display: inline-block;
	}
.webtext:last-child{
	border: 5px dashed red;
}
.active{
	color: blue;
}	
#id1{
	 background-color: pink;
 }
	